body {
    display: flex;
    flex-direction: column;
    margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap" );
}

#top {
   width: 5rem;;
}

#header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    margin: 2%;
    align-items: center;
    text-align: center;
    font: crossorigin;
}

#text {
    font-size: 35px;
    color: grey;
    padding: 8%;
    width: 50%;
}

#main {
    display: flex;
flex-direction: column;
    margin: -5%;
    align-items: center;
    text-align: center;
}
section {
    margin: 2%;
    align-items: center;
    text-align: center;
}

img {
width: 25rem;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;

}